@model List<Category>
<li class="has-dropdown">
    <a href="#">OCCASIONS</a>
    <ul class="sub-menu text-left">
        @foreach (var item in Model)
        {
            <li><a href="/Items/DisplayCategoryMeal/?categoryId=@item.CategoryId"> @item.Title </a></li>

        }
        <li><a href="/Items/GetCategorybyIdParent/?categoryId=2">  <font color="red">View More....</font> </a></li>
    </ul>
</li>
