@page "/user/profile"
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<partial name="_StatusMessage" for="StatusMessage" />
@*<h3>@ViewData["Title"]</h3>*@
@*<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>*@

<div class="row">
	<div class="col-lg-10 margin-bottom-40px">
		<div class="box-shadow border-radius-10 overflow-hidden">
			<div class="padding-30px background-white">
				<h2>@ViewData["Title"]</h2>
				<form id="profile-form" method="post">
					<div class="form-group label-floating">
						<img src="http://placehold.it/100x100"> <br>
						<a href="#" style="font-size:14px;">Change your avatar</a>

					</div>

					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group label-floating">
						<label asp-for="Username" class="control-label"></label>
						<input asp-for="Username" class="form-control" disabled />
					</div>

					@*<div class="form-group label-floating">
						<label asp-for="Email" class="control-label"></label>
						<input asp-for="Email" class="form-control" disabled />
					</div>*@

					<div class="form-group label-floating">
						<label asp-for="Input.FirstName" class="control-label"></label>
						<input asp-for="Input.FirstName" class="form-control" />
						<span asp-validation-for="Input.FirstName" class="text-danger"></span>
					</div>

					<div class="form-group label-floating">
						<label asp-for="Input.LastName" class="control-label"></label>
						<input asp-for="Input.LastName" class="form-control" />
						<span asp-validation-for="Input.LastName" class="text-danger"></span>
					</div>

					<div class="form-group label-floating">
						<label asp-for="Input.Birthday" class="control-label"></label>
						<input asp-for="Input.Birthday" class="form-control" type="date" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="mm/dd/yyyy" />
						<span asp-validation-for="Input.Birthday" class="text-danger"></span>
					</div>

					<button id="update-profile-button" type="submit" class="btn full-width background-main-color text-white">Save Changes</button>

				</form>
			</div>
		</div>
	</div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
