@page "/forgot-password"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}



@*<div id="page-title" class="padding-tb-30px gradient-white text-center">
	<div class="container">
		<ol class="breadcrumb opacity-5">
			<li><a href="#">Home</a></li>
			<li><a href="#">Login Page</a></li>
			<li class="active">Reset Password Page</li>
		</ol>
		<h1 class="font-weight-300">Find your account</h1>
		<p>Enter the email associated with the account to change your password.</p>
	</div>
</div>*@

<div id="page-title" class="padding-tb-30px gradient-white text-center">
	<div class="container">
		<ol class="breadcrumb opacity-5">
			<li><a href=@Url.Action("Index", "Home")>Home</a></li>
			<li class="active">Forgot password</li>
		</ol>
		<h1 class="font-weight-300">Forgot password</h1>
	</div>
</div>

<div class="container margin-bottom-100px">
	<div id="log-in" class="site-form log-in-form box-shadow border-radius-10">

		<div class="form-output">
			<form method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group label-floating">
					<label asp-for="Input.Email" class="control-label"></label>
					<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>

				<div class="or"></div>

				<p>Don't you have an account? <a href="/register">Register Now!</a> </p>
			</form>
		</div>
	</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
