@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}
@*
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>*@

<div id="page-title" class="padding-tb-30px gradient-white">
	<div class="container text-center">
		<ol class="breadcrumb opacity-5">
			<li><a href=@Url.Action("Index", "Home")>Home</a></li>
			<span>>></span>
			<li class="active">@ViewData["Title"]</li>
		</ol>
	</div>
</div>

<div class="container margin-bottom-100px">
	<div class="text-center">
		<img class="rounded mx-auto d-block" src="~/assets/img/cancel.png" alt="fail" style="max-width:20%;">
		<h3 class="text-center text-red">This account has been locked out, please try again later.</h3>

		<a href=@Url.Action("Index", "Home") class="btn btn-sm border-radius-30 margin-tb-15px text-white background-second-color  box-shadow padding-lr-25px"><i class="fas fa-home  margin-right-7px"></i>  Go Home</a>
	</div>
</div>