@model SetPasswordViewModel


@{
    ViewData["Title"] = "Create password";
    Layout = "_ProfileLayout";
}
<style>
    .btn:hover {
        opacity:0.9;
    }
</style>

<div class="row">
    <div class="col-lg-10 margin-bottom-40px">
        <div class="box-shadow border-radius-10 overflow-hidden">
            <div class="padding-30px background-white" style="font-size:15px;">
                <h2>@ViewData["Title"]</h2>
                <h3 class="text-info">
                    Your account does not have a password, please set it up to be able
                    Log in without using an external account.
                </h3>
                <form asp-controller="Manage" asp-action="SetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]"  method="post" class="form-horizontal" role="form" style="margin-bot:10px;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group label-floating">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group label-floating">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn full-width background-main-color text-white">Create Password</button>
                </form>
             
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

