@{
    ViewData["Title"] = "External Login Failure";
}


<div id="page-title" class="padding-tb-30px gradient-white">
	<div class="container text-center">
		<ol class="breadcrumb opacity-5">
			<li><a href=@Url.Action("Index", "Home")>Home</a></li>
			<span>>></span>
			<li class="active">@ViewData["Title"]</li>
		</ol>
	</div>
</div>

<div class="container margin-bottom-100px">
	<div class="text-center">
		<img class="rounded mx-auto d-block" src="~/assets/img/confirm-email.png" alt="Confirm email" style="max-width:20%;">
		<h2 class="text-center text-red">@ViewData["Title"]</h2>
		<h4 style="font-size:20px; margin-top:1rem;">Unable to use the login service.</h4>
		<a href=@Url.Action("Login", "Account") class="btn btn-sm border-radius-30 margin-tb-15px text-white background-second-color  box-shadow padding-lr-25px"><i class="fas fa-home  margin-right-7px"></i>  Go to Login</a>
	</div>
</div>