@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Register";
}



<div id="page-title" class="padding-tb-30px gradient-white text-center">
	<div class="container">
		<ol class="breadcrumb opacity-5">
            <li><a href=@Url.Action("Index", "Home")>Home</a></li>
            <span>>></span>
			<li class="active">@ViewData["Title"]</li>
		</ol>
		<h1 class="font-weight-300">Associate your @ViewData["ProviderDisplayName"] account.</h1>
	</div>
</div>

<div class="container margin-bottom-100px">
    <p id="external-login-description" class="text-info text-center"style="font-size:15px;">
        You have validated the association with <strong>@ViewData["ProviderDisplayName"]</strong>.
        Enter your email address to link or create an account.
    </p>
    <div id="log-in" class="site-form log-in-form box-shadow border-radius-10">
		<div class="form-output">
            <form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="" role="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="Email" class="form-label"></label>
                <div class="g">
                    <input asp-for="Email" class="form-control" autocomplete="email" style="" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
			</form>
		</div>
	</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
