@* @{
    ViewData["Title"] = "Thông báo lấy lại mật khẩu";
}

<h1>@ViewData["Title"].</h1>
<p>
    Kiểm tra email để lấy lại mật khẩu.
</p>
 *@

@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div id="page-title" class="padding-tb-30px gradient-white">
	<div class="container text-center">
		<ol class="breadcrumb opacity-5">
			<li><a href=@Url.Action("Index", "Home")>Home</a></li><span>>></span>
			<li class="active">Forgot password confirm</li>
		</ol>
	</div>
</div>

<div class="container margin-bottom-100px">
	<div class="text-center">
		<img class="rounded mx-auto d-block" src="~/assets/img/confirm-email.png" alt="Confirm email" style="max-width:20%;">
		<h3 class="text-center text-red">Confirm email</h3>
		<h4 class="text-center text-grey-2"> Please check your email to reset your password.</h4>

		<a href=@Url.Action("Index", "Home") class="btn btn-sm border-radius-30 margin-tb-15px text-white background-second-color  box-shadow padding-lr-25px"><i class="fas fa-home  margin-right-7px"></i>  Go Home</a>
	</div>
</div>
