
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

    <div id="page-title" class="padding-tb-30px gradient-white text-center">
        <div class="container">
            <ol class="breadcrumb opacity-5">
                <li><a href=@Url.Action("Index", "Home")>Home</a></li><span>>></span>
                <li class="active">@ViewData["Title"]</li>
            </ol>
            <h1 class="font-weight-300">@ViewData["Title"]</h1>
        </div>
    </div>


    <div class="container margin-bottom-100px">
        <!--======= log_in_page =======-->
        <div id="log-in" class="site-form log-in-form box-shadow border-radius-10">
            <div class="form-output">
           <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="@Model.Code" type="hidden" />

                <label asp-for="Email" class="form-label"></label>
                <div class="">
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                
                <label asp-for="Password" class="form-label"></label>
                <div class="">
                    <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <label asp-for="ConfirmPassword" class="form-label"></label>
                <div class="">
                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
            </form>
            </div>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
