@* @{
    ViewData["Title"] = "Đặt lại mặt khẩu";
}

<h1>@ViewData["Title"].</h1>
<p>
    Bạn đã đặt lại mật khẩu, 
    <a asp-controller="Account" asp-action="Login">
        bấm vào đây để đăng nhập
    </a>
</p> *@


@{
    ViewData["Title"] = "Reset password confirmation";
}

@*<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>*@

<div id="page-title" class="padding-tb-30px gradient-white">
	<div class="container text-center">
		<ol class="breadcrumb opacity-5">
			<li><a href=@Url.Action("Index", "Home")>Home</a></li>
			<span>>></span>
			<li class="active">Reset password confirm</li>
		</ol>
		<h1 class="text-center text-red">Reset password confirm</h1>

	</div>
</div>

<div class="container margin-bottom-100px">
	<div class="text-center">
		<img class="rounded mx-auto d-block" src="~/assets/img/checked.png" alt="Reset password confirm" style="max-width:15%;">
		<h4 class="text-center text-grey-2 margin-tb-20px">Your password has been reset.</h4>
		<a href=@Url.Action("Index", "Home") class="btn btn-sm border-radius-30 margin-tb-12px text-white background-second-color  box-shadow padding-lr-25px "><i class="fas fa-home  margin-right-7px"></i>  Go Home</a>
	</div>
</div>