
<li class="has-dropdown">
    <a href="#">MEALS</a>
    <ul class="sub-menu text-left">
        <li><a href="page-about.html">Breakfast</a></li>
        <li><a href="add-recipe.html">Lunch</a></li>
        @*<li>@Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Register", "Register", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@
        <li><a href="search-page.html">Dinner</a></li>
        <li><a href="page-contact-us.html">Salads</a></li>
        <li><a href="page-404.html">Desserts</a></li>
        <li><a href="page-404.html">Soups</a></li>
    </ul>
</li>