@{
    ViewData["Title"] = "Chat";
    Layout = "_ProfileLayout";
}
<h1>Chat</h1>

<div id="chat">
    <div id="messages"></div>

    <form method="post" action="/message/sendmessage">
        <input type="hidden" name="userId" value="1" />
        <input type="text" name="message" />
        <button type="submit">Send</button>
    </form>
</div>