@model Services.Models.Recipe

@{
	ViewBag.Title = "Recipe Added Successfully";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
	<h1>Recipe Added Successfully</h1>
	<p>Your recipe has been added successfully.</p>
</body>