@{
	ViewData["Title"] = "Home Page";
	Layout = "_Layout";
}
	<div class="autoplayBanner">

		<div class="banner padding-tb-20px background-overlay" style="background-image: url('https://wallpapershome.com/images/pages/pic_h/17815.jpg'); ">

		@await Component.InvokeAsync("Banner")
		<!-- //container  -->
	</div>
	<div class="banner padding-tb-20px background-overlay" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/recipeorganizer-58fca.appspot.com/o/z4474863346852_327ed34ca2d7e52a77b81fcdbbafc154.jpg?alt=media&token=1f7f5a58-13b7-4d1a-9a6c-05e3c33b9315'); ">

		@await Component.InvokeAsync("Banner")
		<!-- //container  -->
	</div>
	<div class="banner padding-tb-20px background-overlay" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/recipeorganizer-58fca.appspot.com/o/z4474863358228_4eabc3a4108a759d648d12e0e32dcdf7.jpg?alt=media&token=ff74cd31-005b-4ffa-86ab-8100fa6f65c6'); ">

		@await Component.InvokeAsync("Banner")
		<!-- //container  -->
	</div>
	<div class="banner padding-tb-20px background-overlay" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/recipeorganizer-58fca.appspot.com/o/z4474863348385_90421fc17f965cd858a811b05932ea89.jpg?alt=media&token=dd17faf4-856d-4cea-887d-31b470c8df67'); ">

		@await Component.InvokeAsync("Banner")
		<!-- //container  -->
	</div>
	<div class="banner padding-tb-20px background-overlay" style="background-image: url('https://wallpapershome.com/images/pages/pic_h/16060.jpg'); ">

		@await Component.InvokeAsync("Banner")
		<!-- //container  -->
	</div>
	<div class="banner padding-tb-20px background-overlay" style="background-image: url('https://wallpapershome.com/images/pages/pic_h/17816.jpg'); ">

		@await Component.InvokeAsync("Banner")
		<!-- //container  -->
	</div>
	</div>

@await Component.InvokeAsync("Category")

	 @*<div data-aos="flip-left" class="col-md-7">
					<p class="text-grey-2 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
				</div>

	 <div data-aos="flip-left" class="title text-center ">
			<h2 class="font-weight-700 text-main-color">Popular Recipes</h2>
			<div class="row justify-content-center margin-bottom-45px">
				<div class="col-md-7">
					<p class="text-grey-2 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
				</div>
			</div>
		</div>*@


<!-- Offer Start -->
<div class="container-fluid offer pt-5">
	<div class="row px-xl-5">
		<div class="col-md-6 pb-4">
			<div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5"
				 style="background-image: url('https://firebasestorage.googleapis.com/v0/b/recipeorganizer-58fca.appspot.com/o/z4474453467053_40db9f332b49eb4a5e6abbd86516b1e8.jpg?alt=media&token=e292c0ad-a7b8-4c8c-b6ae-c81fe5d8c182'); background-size: cover; background-position: center;">

				<img src="/img/offer-1.png" alt="">
				<div class="position-relative" style="z-index: 1;">
					<h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
					<h1 class="mb-4 font-weight-semi-bold " style="color: #ff8ac4;">Spring Collection</h1>
					<a href="/Items/DisplayCategoryIngredient/?categoryId=1" class="btn btn-outline-primary py-md-2 px-md-3">View Now</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 pb-4">
			<div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/recipeorganizer-58fca.appspot.com/o/z4474397367219_360e68223921a7ad0c7d20792d417aa9.jpg?alt=media&token=beb6b749-14c1-4f2b-b73e-e2b1be555607'); background-size: cover; background-position: center;">
				<img src="" alt="">
				<div class="position-relative" style="z-index: 1;">
					<h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
					<h1 class="mb-4 font-weight-semi-bold">Winter Collection</h1>
					<a href="/Items/DisplayCategoryIngredient/?categoryId=12" class="btn btn-outline-primary py-md-2 px-md-3">View Now</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Offer End -->
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
	<div class="preloader-inner">
		<span class="dot"></span>
		<div class="dots">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</div>
<!-- ***** Preloader End ***** -->



<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-6 align-self-center">
						<div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
							<div class="row">
								<div class="col-lg-4 col-sm-4">
									<div class="info-stat">
										<h6>User</h6>
										<h4>5</h4>
									</div>
								</div>
								<div class="col-lg-4 col-sm-4">
									<div class="info-stat">
										<h6>Recipe:</h6>
										<h4>76</h4>
									</div>
								</div>
								<div class="col-lg-4 col-sm-4">
									<div class="info-stat">
										<h6>Schedules</h6>
										<h4>$0/Meeting</h4>
									</div>
								</div>
								<div class="col-lg-12">
									<h2>Food &amp; Water Oraginazion Cooking</h2>
								</div>
								<div class="col-lg-12">
									<div class="main-green-button scroll-to-section">
										<a href="#contact">Get Your Quote</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
							<img src="https://firebasestorage.googleapis.com/v0/b/recipeorganizer-58fca.appspot.com/o/z4474863348385_90421fc17f965cd858a811b05932ea89.jpg?alt=media&token=dd17faf4-856d-4cea-887d-31b470c8df67" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@await Component.InvokeAsync("Items")


<div id="features" class="features section">
	<div class="padding-lr-50px">
		<div class="row">
			<div class="col-lg-12">
				<div class="features-content">
					<div class="row">
						<div class="col-lg-3">
							<div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
								<div class="first-number number">
									<h6>01</h6>
								</div>
								<div class="icon"></div>
								<h4>Recipe Menus</h4>
								<div class="line-dec"></div>
								<p>This list typically includes different meals, such as breakfast, lunch, dinner, and possibly snacks or desserts..</p>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="features-item second-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
								<div class="second-number number">
									<h6>02</h6>
								</div>
								<div class="icon"></div>
								<h4>Expert Advice</h4>
								<div class="line-dec"></div>
								<p>his advice is based on their experience and knowledge of cooking techniques, ingredients, and flavor combinations.</p>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
								<div class="third-number number">
									<h6>03</h6>
								</div>
								<div class="icon"></div>
								<h4>Ingredients</h4>
								<div class="line-dec"></div>
								<p> Cooking are the individual food items that are used to create a recipe or dish. <a rel="nofollow" href="https://www.paypal.me/templatemo" target="_blank">support us</a> a little.</p>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="features-item second-feature last-features-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
								<div class="fourth-number number">
									<h6>04</h6>
								</div>
								<div class="icon"></div>
								<h4>Analyze the result</h4>
								<div class="line-dec"></div>
								<p>Cooking involves evaluating the finished dish in terms of its taste, texture, appearance, and overall quality.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="skills-content align-self-stretch">
					<div class="row ">
						<div class="col-lg-3">
							<div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
								<div class="progress" style="height: 100px; width:100px; border-radius: 50px; transform: scale(1.5);" data-percentage="80" " data-percentage="80">
									<span class="progress-left">
										<span class="progress-bar"></span>
									</span>
									<span class="progress-right">
										<span class="progress-bar"></span>
									</span>
									<div class="progress-value">
										<div>
											80%<br>
											<span>Ingredients</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
								<div class="progress" style="height: 100px; width:100px; border-radius: 50px; transform: scale(1.5);" data-percentage="60">
									<span class="progress-left">
										<span class="progress-bar"></span>
									</span>
									<span class="progress-right">
										<span class="progress-bar"></span>
									</span>
									<div class="progress-value">
										<div>
											60%<br>
											<span>Equipment</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
								<div class="progress" style="height: 100px; width:100px; border-radius: 50px; transform: scale(1.5);" data-percentage="90">
									<span class="progress-left">
										<span class="progress-bar"></span>
									</span>
									<span class="progress-right">
										<span class="progress-bar"></span>
									</span>
									<div class="progress-value">
										<div>
											90%<br>
											<span>Technique</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="skill-item last-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
								<div class="progress" style="height: 100px; width:100px; border-radius: 50px; transform: scale(1.5);" data-percentage="70">
									<span class="progress-left">
										<span class="progress-bar"></span>
									</span>
									<span class="progress-right">
										<span class="progress-bar"></span>
									</span>
									<div class="progress-value">
										<div>
											70%<br>
											<span>Timing</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid bg-secondary my-5">
	<div class="row justify-content-md-center py-5 px-xl-5" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/recipeorganizer-58fca.appspot.com/o/z4474864026930_e18fe0424808bbf6d49741d1f874be81.jpg?alt=media&token=762b613d-7da5-45b8-98ad-54d76493f839')">
		<div class="col-md-6 col-12 py-5">
			<div class="text-center mb-2 pb-2">
				<h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Stay Updated</span></h2>
				<p>Amet lorem at rebum amet dolores. Elitr lorem dolor sed amet diam labore at justo ipsum eirmod duo labore labore.</p>
			</div>
			<form action="">
				<div class="input-group">
					<input type="text" class="form-control border-white p-4" placeholder="Email Goes Here">
					<div class="input-group-append">
						<button class="btn btn-primary px-4">Subscribe</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>






@await Component.InvokeAsync("Items1")

<!-- Featured Start -->
<div class="container-fluid pt-5">
	<div class="row px-xl-5 pb-3">
		<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
			<div class="d-flex align-items-center border mb-4" style="background-color: #e5e5e5; padding: 30px;">
				<h1 class="fa fa-check text-primary m-0 mr-3"></h1>
				<h5 class="font-weight-semi-bold m-0">Quality Recipe</h5>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
			<div class="d-flex align-items-center border mb-4" style="padding: 30px;background-color: #e5e5e5;">
				<h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
				<h5 class="font-weight-semi-bold m-0">Free Time</h5>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
			<div class="d-flex align-items-center border mb-4" style="padding: 30px;background-color: #e5e5e5;">
				<h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
				<h5 class="font-weight-semi-bold m-0">Comnitication</h5>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
			<div class="d-flex align-items-center border mb-4" style="padding: 30px;background-color: #e5e5e5;">
				<h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
				<h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
			</div>
		</div>
	</div>
</div>
<!-- Featured End -->
@*@await Component.InvokeAsync("OutService")*@



<div id="about" class="about-us section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
					<img src="/assets/images/about-left-image.png" alt="">
				</div>
			</div>
			<div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
				<div class="section-heading">
					<h6>About Us</h6>
					<h2>Top <em>Recipe</em> Food &amp; Water <span>with us</span></h2>
				</div>
				<div class="row">
					<div class="col-lg-4 col-sm-4">
						<div class="about-item">
							<h4>7+</h4>
							<h6>projects finished</h6>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4">
						<div class="about-item">
							<h4>340+</h4>
							<h6>happy clients</h6>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4">
						<div class="about-item">
							<h4>1+</h4>
							<h6>awards</h6>
						</div>
					</div>
				</div>
				<p><a rel="nofollow" href="https://templatemo.com/tm-563-seo-dream" target="_parent">KCTPD Team</a> is Khoa, Cong , Tram, Phi, Duy of individuals who work together effectively and efficiently to achieve a common goal or objective. A strong team is built on a foundation of trust, communication, collaboration, and mutual respect.. Thank you.</p>
				<div class="main-green-button"><a href="#">Discover KCTPD</a></div>
			</div>
		</div>
	</div>
</div>

	<div class="instgram-feed ">
		<div class=" no-gutters autoplayFoot">
			
			<div class="col-md-12 col-16 hvr-float">
			<a href="#"><img src="https://firebasestorage.googleapis.com/v0/b/recipeorganizer-58fca.appspot.com/o/z4474347987416_7a712db2a77f2a111d103930aaf844c8.jpg?alt=media&token=02b0006c-8984-4201-822d-95d1ed6605a6" alt=""></a>
			</div>
			<div class="col-md-12 col-16 hvr-float">
			<a href="#"><img src="https://firebasestorage.googleapis.com/v0/b/recipeorganizer-58fca.appspot.com/o/z4474348000869_305085aa0315b8bb4f29616410c87729.jpg?alt=media&token=27aba722-b0f4-4e58-b6e2-b166ae17af0b" alt=""></a>
			</div>
			<div class="col-md-12 col-16 hvr-float">
			<a href="#"><img src="https://firebasestorage.googleapis.com/v0/b/recipeorganizer-58fca.appspot.com/o/z4474348038766_081780a41dd735344db4a7ef2e988eb0.jpg?alt=media&token=63a2f254-d3c6-4ffe-a26b-5fa9fff2c7eb" alt=""></a>
			</div>
			<div class="col-md-12 col-16 hvr-float">
			<a href="#"><img src="https://firebasestorage.googleapis.com/v0/b/recipeorganizer-58fca.appspot.com/o/z4474348044509_d66ae3a9c2ed6e11f6626e6ed451bd2a.jpg?alt=media&token=ccba33a7-66d7-4b68-9d10-34a86f45b3c7" alt=""></a>
			</div>
			<div class="col-md-12 col-16 hvr-float">
			<a href="#"><img src="https://firebasestorage.googleapis.com/v0/b/recipeorganizer-58fca.appspot.com/o/z4474348028996_d8638dfa077668ca187ec16ea45d6194.jpg?alt=media&token=58c7fd2d-4205-4652-a318-f032840fed5e" alt=""></a>
			</div>
		<div class="col-md-12 col-16 hvr-float">
			<a href="#">
				<img src="https://firebasestorage.googleapis.com/v0/b/recipeorganizer-58fca.appspot.com/o/z4474348013927_a9b7afbcda3974a445e118d493479f39.jpg?alt=media&token=ade43476-2552-4174-a8db-3eb8ed3dada7" alt="">
			</a>
		</div>
			</div>
	</div>




@section Scripts {
			<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
			<script>

				(function ($) {
					$(document).ready(function () {
						$("#postTitle").autocomplete({
							source: 'api/postapi/search'

						});

					});
				})(jQuery);

			</script>
	}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha512-eP8DK17a+MOcKHXC5Yrqzd8WI5WKh6F1TIk5QZ/8Lbv+8ssblcz7oGC8ZmQ/ZSAPa7ZmsCU4e/hcovqR8jfJqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript">
		$('.autoplayBanner').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 3000,
			  dots: true,
  infinite: true,
  speed: 500,
  fade: true,
  cssEase: 'linear',
  arrows: false
		});
	</script>

	<script type="text/javascript">
		$('.autoplayFoot').slick({
			slidesToShow: 5,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 2000,

  arrows: false,
   responsive: [
	  {
		breakpoint: 768,
		settings: {
		  slidesToShow: 2, arrows: false
		}
	  },
	  {
		breakpoint: 576,
		settings: {
		  slidesToShow: 1, arrows: false
		}
	  }
	]
		});
	</script>


