@{
	ViewData["Title"] = "Home Page";
}



	<div class="autoplayBanner">

		<div class="banner padding-tb-20px background-overlay" style="background-image: url('https://wallpapershome.com/images/pages/pic_h/17815.jpg'); ">

		@await Component.InvokeAsync("Banner")
		<!-- //container  -->
	</div>
		<div class="banner padding-tb-20px background-overlay" style="background-image: url('https://hips.hearstapps.com/hmg-prod/images/table-filled-with-large-variety-of-food-shot-from-royalty-free-image-1659038707.jpg'); ">

		@await Component.InvokeAsync("Banner")
		<!-- //container  -->
	</div>
	<div class="banner padding-tb-20px background-overlay" style="background-image: url('https://integrisok.com/-/media/blog/21-q3/oyh_energizing-healthy-food.ashx?revision=92b6bfb4-dd5b-4ca9-af23-a099689b28a9'); ">

		@await Component.InvokeAsync("Banner")
		<!-- //container  -->
	</div>
	<div class="banner padding-tb-20px background-overlay" style="background-image: url('https://wallpapershome.com/images/pages/ico_h/15363.jpg'); ">

		@await Component.InvokeAsync("Banner")
		<!-- //container  -->
	</div>
	<div class="banner padding-tb-20px background-overlay" style="background-image: url('https://wallpapershome.com/images/pages/pic_h/16060.jpg'); ">

		@await Component.InvokeAsync("Banner")
		<!-- //container  -->
	</div>
	<div class="banner padding-tb-20px background-overlay" style="background-image: url('https://wallpapershome.com/images/pages/pic_h/17816.jpg'); ">

		@await Component.InvokeAsync("Banner")
		<!-- //container  -->
	</div>
	</div>

@await Component.InvokeAsync("Category")

	 @*<div data-aos="flip-left" class="col-md-7">
					<p class="text-grey-2 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
				</div>

	 <div data-aos="flip-left" class="title text-center ">
			<h2 class="font-weight-700 text-main-color">Popular Recipes</h2>
			<div class="row justify-content-center margin-bottom-45px">
				<div class="col-md-7">
					<p class="text-grey-2 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
				</div>
			</div>
		</div>*@


@await Component.InvokeAsync("Items")


	<div class="instgram-feed ">
		<div class=" no-gutters autoplayFoot">
			<div class="col-md-12 col-16 hvr-float">
				<a href="#"><img src="https://wallpapershome.com/images/pages/pic_h/17426.jpg" alt=""></a>
			</div>
			<div class="col-md-12 col-16 hvr-float">
				<a href="#"><img src="https://wallpapershome.com/images/pages/pic_h/1009.jpg" alt=""></a>
			</div>
			<div class="col-md-12 col-16 hvr-float">
				<a href="#"><img src="https://wallpapershome.com/images/pages/pic_h/14761.jpg" alt=""></a>
			</div>
			<div class="col-md-12 col-16 hvr-float">
				<a href="#"><img src="http://placehold.it/600x600" alt=""></a>
			</div>
			<div class="col-md-12 col-16 hvr-float">
				<a href="#"><img src="http://placehold.it/600x600" alt=""></a>
			</div>
			<div class="col-md-12 col-16 hvr-float">
				<a href="#"><img src="http://placehold.it/600x600" alt=""></a>
			</div>
		</div>
	</div>
@section Scripts {
			<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
			<script>

				(function ($) {
					$(document).ready(function () {
						$("#postTitle").autocomplete({
							source: 'api/postapi/search'

						});

					});
				})(jQuery);

			</script>
	}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha512-eP8DK17a+MOcKHXC5Yrqzd8WI5WKh6F1TIk5QZ/8Lbv+8ssblcz7oGC8ZmQ/ZSAPa7ZmsCU4e/hcovqR8jfJqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript">
		$('.autoplayBanner').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 3000,
			  dots: true,
  infinite: true,
  speed: 500,
  fade: true,
  cssEase: 'linear',
  arrows: false
		});
	</script>

	<script type="text/javascript">
		$('.autoplayFoot').slick({
			slidesToShow: 5,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 2000,

  arrows: false,
   responsive: [
	  {
		breakpoint: 768,
		settings: {
		  slidesToShow: 2, arrows: false
		}
	  },
	  {
		breakpoint: 576,
		settings: {
		  slidesToShow: 1, arrows: false
		}
	  }
	]
		});
	</script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


