@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="banner padding-tb-20px background-overlay" style="background-image: url('https://images.hdqwalls.com/download/raspberry-good-fruit-plant-4k-um-1600x900.jpg'); ">
        
        <div class="container">

            <div class="padding-tb-120px z-index-2 position-relative">
                <div class="text-center">
                    <h1 class="text-white pull-l icon-large font-weight-500 margin-bottom-40px">+20,000</h1>
                    <h3 class="text-white icon-large font-weight-100">Cooking Recipes</h3>
                </div>
                <div class="margin-top-45px">
                    <div class="row justify-content-center margin-tb-60px">
                        <div class="col-lg-8">
                            <div class="listing-search">
                                <form action="Search/SearchKeyWord" class="row no-gutters"  >
                                    <div class="col-md-8">
                                       
                                            <input class="listing-form first max-width-set" type="text" placeholder="Keywords...." name="keyword" value="">
                                       
                                    </div>

                                    <div class="col-md-4">
                                        <button type="submit" class="listing-bottom background-second-color box-shadow" >Search Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //container  -->
    </div>


    <div class="pull-top-85px">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
                    <a href="#" class="d-block box-shadow background-main-color text-white hvr-float">
                        <div class="thum"><img src="http://placehold.it/450x250" alt=""></div>
                        <h4 class="text-center padding-15px">Fish</h4>
                    </a>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
                    <a href="#" class="d-block box-shadow background-main-color text-white hvr-float">
                        <div class="thum"><img src="http://placehold.it/450x250" alt=""></div>
                        <h4 class="text-center padding-15px">Meats</h4>
                    </a>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
                    <a href="#" class="d-block box-shadow background-main-color text-white hvr-float">
                        <div class="thum"><img src="http://placehold.it/450x250" alt=""></div>
                        <h4 class="text-center padding-15px">Eggs</h4>
                    </a>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
                    <a href="#" class="d-block box-shadow background-main-color text-white hvr-float">
                        <div class="thum"><img src="http://placehold.it/450x250" alt=""></div>
                        <h4 class="text-center padding-15px">Salads</h4>
                    </a>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
                    <a href="#" class="d-block box-shadow background-main-color text-white hvr-float">
                        <div class="thum"><img src="http://placehold.it/450x250" alt=""></div>
                        <h4 class="text-center padding-15px">Rice</h4>
                    </a>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
                    <a href="#" class="d-block box-shadow background-main-color text-white hvr-float">
                        <div class="thum"><img src="http://placehold.it/450x250" alt=""></div>
                        <h4 class="text-center padding-15px">Noddle</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <section class="padding-tb-100px">
        <div class="container">
            <div class="title text-center">
                <h2 class="font-weight-700 text-main-color">Latest Recipes</h2>
                <div class="row justify-content-center margin-bottom-45px">
                    <div class="col-md-7">
                        <p class="text-grey-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
            </div>

            <div class="recipes-masonry">

                <!-- Recipe Item -->
                <div class="col-xl-3 col-lg-4 col-md-6 recipe-item margin-bottom-40px">
                    <div class="card border-0 box-shadow">
                        <div class="card-img-top"><a href="#"><img src="http://placehold.it/420x335" alt=""></a></div>
                        <div class="padding-lr-30px padding-tb-20px">
                            <h5 class="margin-bottom-20px margin-top-10px"><a class="text-dark" href="#">Slow Cooker Loaded Potato Soup</a></h5>
                            <div class="rating">
                                <ul>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li></li>
                                </ul>
                            </div>
                            <hr>
                            <div class="row no-gutters">
                                <div class="col-4 text-left"><a href="#" class="text-red"><i class="far fa-heart"></i> Save</a></div>
                                <div class="col-8 text-right"><a href="#" class="text-grey-2"><i class="fas fa-users"></i> 6-8 servings</a></div>
                            </div>
                        </div>
                        <div class="background-light-grey border-top-1 border-grey padding-lr-30px padding-tb-20px">
                            <a href="#" class="d-inline-block text-grey-3 h6 margin-bottom-0px margin-right-15px"><img src="http://placehold.it/50x50" class="height-30px border-radius-30 margin-right-15px" alt=""> Salim Aldosery</a>
                        </div>
                    </div>
                </div>
                <!-- // Recipe Item -->
                <!-- Recipe Item -->
                <div class="col-xl-3 col-lg-4 col-md-6 recipe-item margin-bottom-40px">
                    <div class="card border-0 box-shadow">
                        <div class="card-img-top"><a href="#"><img src="http://placehold.it/420x475" alt=""></a></div>
                        <div class="padding-lr-30px padding-tb-20px">
                            <h5 class="margin-bottom-20px margin-top-10px"><a class="text-dark" href="#">Slow Cooker Loaded Potato Soup</a></h5>
                            <div class="rating">
                                <ul>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li></li>
                                </ul>
                            </div>
                            <hr>
                            <div class="row no-gutters">
                                <div class="col-4 text-left"><a href="#" class="text-red"><i class="far fa-heart"></i> Save</a></div>
                                <div class="col-8 text-right"><a href="#" class="text-grey-2"><i class="fas fa-users"></i> 6-8 servings</a></div>
                            </div>
                        </div>
                        <div class="background-light-grey border-top-1 border-grey padding-lr-30px padding-tb-20px">
                            <a href="#" class="d-inline-block text-grey-3 h6 margin-bottom-0px margin-right-15px"><img src="http://placehold.it/50x50" class="height-30px border-radius-30 margin-right-15px" alt=""> Salim Aldosery</a>
                        </div>
                    </div>
                </div>
                <!-- // Recipe Item -->
                <!-- Recipe Item -->
                <div class="col-xl-3 col-lg-4 col-md-6 recipe-item margin-bottom-40px">
                    <div class="card border-0 box-shadow">
                        <div class="card-img-top"><a href="#"><img src="http://placehold.it/420x335" alt=""></a></div>
                        <div class="padding-lr-30px padding-tb-20px">
                            <h5 class="margin-bottom-20px margin-top-10px"><a class="text-dark" href="#">Slow Cooker Loaded Potato Soup</a></h5>
                            <div class="rating">
                                <ul>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li></li>
                                </ul>
                            </div>
                            <hr>
                            <div class="row no-gutters">
                                <div class="col-4 text-left"><a href="#" class="text-red"><i class="far fa-heart"></i> Save</a></div>
                                <div class="col-8 text-right"><a href="#" class="text-grey-2"><i class="fas fa-users"></i> 6-8 servings</a></div>
                            </div>
                        </div>
                        <div class="background-light-grey border-top-1 border-grey padding-lr-30px padding-tb-20px">
                            <a href="#" class="d-inline-block text-grey-3 h6 margin-bottom-0px margin-right-15px"><img src="http://placehold.it/50x50" class="height-30px border-radius-30 margin-right-15px" alt=""> Salim Aldosery</a>
                        </div>
                    </div>
                </div>
                <!-- // Recipe Item -->
                <!-- Recipe Item -->
                <div class="col-xl-3 col-lg-4 col-md-6 recipe-item margin-bottom-40px">
                    <div class="card border-0 box-shadow">
                        <div class="card-img-top"><a href="#"><img src="http://placehold.it/420x475" alt=""></a></div>
                        <div class="padding-lr-30px padding-tb-20px">
                            <h5 class="margin-bottom-20px margin-top-10px"><a class="text-dark" href="#">Slow Cooker Loaded Potato Soup</a></h5>
                            <div class="rating">
                                <ul>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li></li>
                                </ul>
                            </div>
                            <hr>
                            <div class="row no-gutters">
                                <div class="col-4 text-left"><a href="#" class="text-red"><i class="far fa-heart"></i> Save</a></div>
                                <div class="col-8 text-right"><a href="#" class="text-grey-2"><i class="fas fa-users"></i> 6-8 servings</a></div>
                            </div>
                        </div>
                        <div class="background-light-grey border-top-1 border-grey padding-lr-30px padding-tb-20px">
                            <a href="#" class="d-inline-block text-grey-3 h6 margin-bottom-0px margin-right-15px"><img src="http://placehold.it/50x50" class="height-30px border-radius-30 margin-right-15px" alt=""> Salim Aldosery</a>
                        </div>
                    </div>
                </div>
                <!-- // Recipe Item -->
                <!-- Recipe Item -->
                <div class="col-xl-3 col-lg-4 col-md-6 recipe-item margin-bottom-40px">
                    <div class="card border-0 box-shadow">
                        <div class="card-img-top"><a href="#"><img src="http://placehold.it/420x335" alt=""></a></div>
                        <div class="padding-lr-30px padding-tb-20px">
                            <h5 class="margin-bottom-20px margin-top-10px"><a class="text-dark" href="#">Slow Cooker Loaded Potato Soup</a></h5>
                            <div class="rating">
                                <ul>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li></li>
                                </ul>
                            </div>
                            <hr>
                            <div class="row no-gutters">
                                <div class="col-4 text-left"><a href="#" class="text-red"><i class="far fa-heart"></i> Save</a></div>
                                <div class="col-8 text-right"><a href="#" class="text-grey-2"><i class="fas fa-users"></i> 6-8 servings</a></div>
                            </div>
                        </div>
                        <div class="background-light-grey border-top-1 border-grey padding-lr-30px padding-tb-20px">
                            <a href="#" class="d-inline-block text-grey-3 h6 margin-bottom-0px margin-right-15px"><img src="http://placehold.it/50x50" class="height-30px border-radius-30 margin-right-15px" alt=""> Salim Aldosery</a>
                        </div>
                    </div>
                </div>
                <!-- // Recipe Item -->
                <!-- Recipe Item -->
                <div class="col-xl-3 col-lg-4 col-md-6 recipe-item margin-bottom-40px">
                    <div class="card border-0 box-shadow">
                        <div class="card-img-top"><a href="#"><img src="http://placehold.it/420x335" alt=""></a></div>
                        <div class="padding-lr-30px padding-tb-20px">
                            <h5 class="margin-bottom-20px margin-top-10px"><a class="text-dark" href="#">Slow Cooker Loaded Potato Soup</a></h5>
                            <div class="rating">
                                <ul>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li></li>
                                </ul>
                            </div>
                            <hr>
                            <div class="row no-gutters">
                                <div class="col-4 text-left"><a href="#" class="text-red"><i class="far fa-heart"></i> Save</a></div>
                                <div class="col-8 text-right"><a href="#" class="text-grey-2"><i class="fas fa-users"></i> 6-8 servings</a></div>
                            </div>
                        </div>
                        <div class="background-light-grey border-top-1 border-grey padding-lr-30px padding-tb-20px">
                            <a href="#" class="d-inline-block text-grey-3 h6 margin-bottom-0px margin-right-15px"><img src="http://placehold.it/50x50" class="height-30px border-radius-30 margin-right-15px" alt=""> Salim Aldosery</a>
                        </div>
                    </div>
                </div>
                <!-- // Recipe Item -->
                <!-- Recipe Item -->
                <div class="col-xl-3 col-lg-4 col-md-6 recipe-item margin-bottom-40px">
                    <div class="card border-0 box-shadow">
                        <div class="card-img-top"><a href="#"><img src="http://placehold.it/420x335" alt=""></a></div>
                        <div class="padding-lr-30px padding-tb-20px">
                            <h5 class="margin-bottom-20px margin-top-10px"><a class="text-dark" href="#">Slow Cooker Loaded Potato Soup</a></h5>
                            <div class="rating">
                                <ul>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li></li>
                                </ul>
                            </div>
                            <hr>
                            <div class="row no-gutters">
                                <div class="col-4 text-left"><a href="#" class="text-red"><i class="far fa-heart"></i> Save</a></div>
                                <div class="col-8 text-right"><a href="#" class="text-grey-2"><i class="fas fa-users"></i> 6-8 servings</a></div>
                            </div>
                        </div>
                        <div class="background-light-grey border-top-1 border-grey padding-lr-30px padding-tb-20px">
                            <a href="#" class="d-inline-block text-grey-3 h6 margin-bottom-0px margin-right-15px"><img src="http://placehold.it/50x50" class="height-30px border-radius-30 margin-right-15px" alt=""> Salim Aldosery</a>
                        </div>
                    </div>
                </div>
                <!-- // Recipe Item -->
                <!-- Recipe Item -->
                <div class="col-xl-3 col-lg-4 col-md-6 recipe-item margin-bottom-40px">
                    <div class="card border-0 box-shadow">
                        <div class="card-img-top"><a href="#"><img src="http://placehold.it/420x335" alt=""></a></div>
                        <div class="padding-lr-30px padding-tb-20px">
                            <h5 class="margin-bottom-20px margin-top-10px"><a class="text-dark" href="#">Slow Cooker Loaded Potato Soup</a></h5>
                            <div class="rating">
                                <ul>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li></li>
                                </ul>
                            </div>
                            <hr>
                            <div class="row no-gutters">
                                <div class="col-4 text-left"><a href="#" class="text-red"><i class="far fa-heart"></i> Save</a></div>
                                <div class="col-8 text-right"><a href="#" class="text-grey-2"><i class="fas fa-users"></i> 6-8 servings</a></div>
                            </div>
                        </div>
                        <div class="background-light-grey border-top-1 border-grey padding-lr-30px padding-tb-20px">
                            <a href="#" class="d-inline-block text-grey-3 h6 margin-bottom-0px margin-right-15px"><img src="http://placehold.it/50x50" class="height-30px border-radius-30 margin-right-15px" alt=""> Salim Aldosery</a>
                        </div>
                    </div>
                </div>
                <!-- // Recipe Item -->


            </div>
            <div class="text-center">
                <a href="#" class="btn box-shadow margin-top-50px padding-tb-10px btn-sm border-2 border-radius-30 btn-inline-block width-210px background-second-color text-white">Show All Recipes</a>
            </div>


        </div>
        <!-- // container -->
    </section>

    <div class="instgram-feed">
        <div class="row no-gutters">
            <div class="col-md-2 col-6">
                <a href="#"><img src="http://placehold.it/600x600" alt=""></a>
            </div>
            <div class="col-md-2 col-6">
                <a href="#"><img src="http://placehold.it/600x600" alt=""></a>
            </div>
            <div class="col-md-2 col-6">
                <a href="#"><img src="http://placehold.it/600x600" alt=""></a>
            </div>
            <div class="col-md-2 col-6">
                <a href="#"><img src="http://placehold.it/600x600" alt=""></a>
            </div>
            <div class="col-md-2 col-6">
                <a href="#"><img src="http://placehold.it/600x600" alt=""></a>
            </div>
            <div class="col-md-2 col-6">
                <a href="#"><img src="http://placehold.it/600x600" alt=""></a>
            </div>
        </div>
    </div>
</main>