@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<hr class="margin-bottom-0px d-block d-sm-none">
<a href="add-recipe.html" class="text-white ba-2 box-shadow float-right padding-lr-27px padding-tb-22px text-extra-large"><i class="fas fa-plus"></i></a>
<a href="@Url.Action("Login", "Home")" class="text-white ba-1 box-shadow float-right padding-lr-27px padding-tb-22px text-extra-large"><i class="far fa-user"></i></a>

@if (SignInManager.IsSignedIn(User))
{
    <hr class="margin-bottom-0px d-block d-sm-none">
    <a href="add-recipe.html" class="text-white ba-2 box-shadow float-right padding-lr-27px padding-tb-22px text-extra-large"><i class="fas fa-plus"></i></a>
    <a href="@Url.Action("Login", "Home")" class="text-white ba-1 box-shadow float-right padding-lr-27px padding-tb-22px text-extra-large"><i class="far fa-user"></i></a>
}
else
{
    <hr class="margin-bottom-0px d-block d-sm-none">
    <a href="/login" class="text-white ba-2 box-shadow float-right padding-lr-27px padding-tb-22px text-extra-large">Login</a>
    <a href="/register" class="text-white ba-1 box-shadow float-right padding-lr-27px padding-tb-22px text-extra-large">Register</a>
}
