@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<style>
    .dropdown-menu.show {
        position: absolute;
        transform: translate3d(100px, 76px, 0px);
        top: 0px;
        left: 0px;
        will-change: transform;
    }

    .btn-login:hover {
        background-color: #645171;
    }

    .btn-register:hover {
        background-color: #8e768e;
    }

    .btn-user:hover {
        background-color: #645171;
    }

    .btn-add-recipe:hover {
        background-color: #8e768e;
    }



</style>


@if (SignInManager.IsSignedIn(User))
{
   @* <hr class="margin-bottom-0px d-block d-sm-none">
    <a href="add-recipe.html" class="text-white ba-2 box-shadow float-right padding-lr-29px padding-tb-24px text-extra-large"><i class="fas fa-plus"></i></a>
    <a href="@Url.Action("Login", "Home")" class="text-white ba-1 box-shadow float-right padding-lr-29px padding-tb-24px text-extra-large"><i class="far fa-user"></i></a>*@
    <div class="dropdown" id="userDropdown">
        <a class="btn-add-recipe text-white ba-2 box-shadow float-right padding-lr-29px padding-tb-24px text-extra-large" href="@Url.Action("AddNewRecipe", "Recipe")">
            <i class="fas fa-plus"></i>
        </a>
        <a class="btn-user text-white ba-1 box-shadow float-right padding-lr-29px padding-tb-24px text-extra-large" href="#" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user"></i>
        </a>
        <div class="dropdown-menu"  style="position: absolute;transform: translate3d(100px, 76px, 0px);top: 0px;left: 0px;will-change: transform;">
            <a class="dropdown-item"  id="manage" href="/user/profile" title="Manage">User Profile</a>
            @*<a class="dropdown-item" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">User Profile</a>*@
            <a class="dropdown-item" href="/Plan/ViewPlan">Meal planning</a>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <form class=" form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="dropdown-item nav-link btn btn-link text-dark">Logout</button>
            </form>
        </div>
    </div>
}
else
{
    <hr class="margin-bottom-0px d-block d-sm-none">
    <a href="/register" class="text-white ba-1 box-shadow float-right padding-lr-27px padding-tb-24px text-extra-large btn-login" style="font-size:15px;">Signup</a>
    <a href="/login" class="text-white ba-2 box-shadow float-right padding-lr-27px padding-tb-24px text-extra-large btn-register" style="font-size:15px;">Login</a>

}

