@model List<Feedback>
@{
    ViewData["Title"] = "Reviews";
	Layout = "~/Areas/Identity/Views/Shared/_ProfileLayout.cshtml";
}

<div class="row">
	<div class="col-lg-10 margin-bottom-40px">
		<div class="box-shadow border-radius-10 overflow-hidden">
			<div class="padding-30px background-white">
				<h2>@ViewData["Title"]</h2
					@if (Model.Count == 0)
					{
						<p>No review</p>
					} else
					{
						<p>The following are reviews you have added to content.</p>
					}

					@foreach (var feedback in Model)
					{
						<!-- item -->
						<div class="col-lg-12 margin-bottom-20px">
							<div class="background-white thum-hover box-shadow hvr-float full-width">
								<div class="float-md-left margin-right-30px thum-xs">

								</div>
								<div class="padding-20px">
									<h3><a href="#"
											class="d-block text-dark text-capitalize text-medium margin-tb-15px">@feedback.Title</a></h3>
									<div class="rating">
										<ul>
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
										</ul>
									</div>
									<hr>
									<p>@feedback.Description</p>
									<img class="width-100px" src="http://placehold.it/420x335" alt="">
									<img class="width-100px" src="http://placehold.it/420x335" alt="">
									<img class="width-100px" src="http://placehold.it/420x335" alt="">
									<hr>
									<div class="row no-gutters">
										<div class="col-4 text-left">@feedback.Date</div>
								<div class="col-8 text-right"><a href="#" class="text-red">Edit</a></div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<!-- // item -->
						}
                </div>
            </div>
        </div>
    </div>


