@charset "UTF-8";

.formLayout.addRecipe .formLayout__uploadContainer {
    margin-bottom: 32px;
}

.formLayoutPhotoUpload {
    position: relative;
    width: 100%;
    height: 296px;
}

.formLayout__inputLabel,
.formLayout__storyLabel,
.formLayout__recipeLabel {
    display: block;
    width: 100%;
    margin-bottom: 4px;
}

.formLayoutPhotoUpload__uploadInput {
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}

.formLayoutPhotoUpload__uploadedImage {
    background: url(../img/recipe-add-photo.png?854-hash);
    background-size: cover;
}

.formLayoutPhotoUpload__help,
.formLayoutPhotoUpload__uploadInput,
.formLayoutPhotoUpload__uploadedImage {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.recipe-textbox {
    white-space: pre-line;
}

@media (min-width: 768px) {
    .formLayoutPhotoUpload {
        width: 224px;
        height: 224px;
    }

    .formLayout.addRecipe .formLayout__uploadContainer {
        margin: 0 0 32px 32px;
    }

    .formLayout__uploadContainer {
        margin-left: 0;
    }

    .formLayout__sectionSubtext--text {
        max-width: 55%;
    }
}

.invalid {
    border-color: red !important;
}

.step {
    margin-bottom: 10px;
}

.handle {
    cursor: move;
    padding: 5px;
    background-color: #ccc;
    color: #000;
}

.card-img-top {
    text-align: center;
    margin-top: 20px;
}


body.layout-print {
    display: block;
    margin: 5px 5px;
}

layout-print-header {
    margin-bottom: 2rem;
}

.layout-print a {
    text-decoration: none !important;
    color: rgba(0,0,0,.95) !important;
}

.is-screenreader-only {
    position: absolute;
    margin: -1px px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.layout-print .icon-logo {
    width: auto;
    height: 30px;
}

.layout-print-content {
    margin: 30px 10px;
}

.recipe-article {
    padding: 0 10px;
}

.ingredients,
.directions {
    margin: 15px 0;
}
